.container{
    padding: 32px;
}

.slider-wrapper{
    position: relative;
    max-width: 768px;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 8px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}